<h1>Bonjour,</h1>

<p>Merci infiniment pour votre soutien. yoopla est un projet qui me tient à coeur personnellement.
Vous serez notifié dès que l'application est prête. En attendant, je suis à votre entière disposition
si vous avez des remarques, idées... D'ailleurs cela m'aiderait beaucoup !</p>

<h3>Jean-Romain KRUPA, Fondateur</h3>
<p>06 95 50 07 84</p>
<p>contaact@yoopla.io</p>

<%= link_to "Retourner sur le site", root_url %>
