<div class="space-y-24 lg:hidden">
  <div>
    <div class="px-4">
      <h2 class="text-lg leading-6 font-medium text-gray-900">Basic</h2>
      <p class="mt-4">
        <span class="text-4xl leading-10 font-extrabold text-gray-900">9€</span>
        <span class="text-base leading-6 font-medium text-gray-500">/month</span>
      </p>
      <p class="mt-4 text-sm leading-5 text-gray-500">The full app features.</p>
      <button type="button" class="mt-6 w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">Buy Basic</button>
    </div>

    <table class="mt-8 w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Features
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Cigarettes allowed per day</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Ideal smoking hours.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Time before next cigarettes</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Trophies.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Statistics.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Phil case
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Automatic smoking detection</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Emergency opening.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">7 days batterie.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">30 cigarettes chargors.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Collaboration
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Support messages text & video.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Prize pot</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Yoopla team support.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Enterprise gamification</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Company branded app</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="border-t border-gray-200 px-4 pt-5">
      <button type="button" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">Buy Basic</button>
    </div>
  </div>

  <div>
    <div class="px-4">
      <h2 class="text-lg leading-6 font-medium text-gray-900">Essential</h2>
      <p class="mt-4">
        <span class="text-4xl leading-10 font-extrabold text-gray-900">€49</span>
        <span class="text-base leading-6 font-medium text-gray-500">/month</span>
      </p>
      <p class="mt-4 text-sm leading-5 text-gray-500">The app and Phil the connected Case. *cigarettes are billed separatly.</p>
      <button type="button" class="mt-6 w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">Buy Essential</button>
    </div>

    <table class="mt-8 w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Features
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Cigarettes allowed per day</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Ideal smoking hours.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Time before next cigarettes</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Trophies.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Statistics.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Phil case
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Automatic smoking detection</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Emergency opening.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">7 days batterie.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">30 cigarettes chargors.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Collaboration
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Support messages text & video.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Prize pot</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Yoopla team support.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Enterprise gamification</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Company branded app</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">No</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="border-t border-gray-200 px-4 pt-5">
      <button type="button" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">Buy Essential</button>
    </div>
  </div>

  <div>
    <div class="px-4">
      <h2 class="text-lg leading-6 font-medium text-gray-900">Professional</h2>
      <p class="mt-4">
        <span class="text-4xl leading-10 font-extrabold text-gray-900">€69</span>
        <span class="text-base leading-6 font-medium text-gray-500">/month/employee</span>
      </p>
      <p class="mt-4 text-sm leading-5 text-gray-500">Only for businesses and their employees.</p>
      <button type="button" class="mt-6 w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">Buy Premium</button>
    </div>

    <table class="mt-8 w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Features
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Cigarettes allowed per day</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Ideal smoking hours.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Time before next cigarettes</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Trophies.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Statistics.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Phil case
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Automatic smoking detection</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Emergency opening.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">7 days batterie.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">30 cigarettes chargors.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="w-full">
      <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm leading-5 font-medium text-gray-900 text-left">
        Collaboration
      </caption>
      <thead>
        <tr>
          <th class="sr-only" scope="col">Feature</th>
          <th class="sr-only" scope="col">Included</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Support messages text & video.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: check -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Prize pot</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Yoopla team support.</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>

        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Enterprise gamification</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
        <tr class="border-t border-gray-200">
          <th class="py-5 px-4 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Company branded app</th>
          <td class="py-5 pr-4">
            <!-- Heroicon name: minus -->
            <svg class="ml-auto h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Yes</span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="border-t border-gray-200 px-4 pt-5">
      <button type="button" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">Buy Professional</button>
    </div>
  </div>
</div>
