<div class="hidden lg:block">
  <table class="w-full h-px table-fixed">
    <caption class="sr-only">
      Pricing plan comparison
    </caption>
    <thead>
      <tr>
        <th class="pb-4 pl-6 pr-6 text-sm leading-5 font-medium text-gray-900 text-left" scope="col">
          <span class="sr-only">Feature by</span>
          <span>Plans</span>
        </th>

        <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Basic</th>

        <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Essential</th>

        <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">Professional</th>
      </tr>
    </thead>
    <tbody class="border-t border-gray-200 divide-y divide-gray-200">
      <tr>
        <th class="py-8 pl-6 pr-6 align-top text-sm leading-5 font-medium text-gray-900 text-left" scope="row">Pricing</th>

        <td class="h-full py-8 px-6 align-top">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p>
                <span class="text-4xl leading-10 font-extrabold text-gray-900">€9</span>
                <span class="text-base leading-6 font-medium text-gray-500">/month</span>
              </p>
              <p class="mt-4 text-sm leading-5 text-gray-500">The full app features.</p>
            </div>
            <button type="button" class="mt-6 w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">
            Buy Basic</button>
          </div>
        </td>

        <td class="h-full py-8 px-6 align-top">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p>
                <span class="text-4xl leading-10 font-extrabold text-gray-900">€49</span>
                <span class="text-base leading-6 font-medium text-gray-500">/month</span>
              </p>
              <p class="mt-4 text-sm leading-5 text-gray-500">The app and Phil the connected Case. *cigarettes are billed separatly.</p>
            </div>
            <button type="button" class="mt-6 w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">
            Buy Essential</button>
          </div>
        </td>

        <td class="h-full py-8 px-6 align-top">
          <div class="h-full flex flex-col justify-between">
            <div>
              <p>
                <span class="text-4xl leading-10 font-extrabold text-gray-900">€69</span>
                <span class="text-base leading-6 font-medium text-gray-500">/month/employee</span>
              </p>
              <p class="mt-4 text-sm leading-5 text-gray-500">Only for businesses and their employees.</p>
            </div>
            <button type="button" class="mt-6 w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">
            Buy Professional</button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="py-3 pl-6 bg-gray-50 text-sm leading-5 font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Features</th>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Cigarettes allowed per day</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Ideal smoking hours.</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Time before next cigarettes</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Trophies</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Statistics</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-3 pl-6 bg-gray-50 text-sm leading-5 font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Phil Case</th>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Automatic smoking detection.</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Emergency opening.</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">7 days battterie</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">30 chargors</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>

      <tr>
        <th class="py-3 pl-6 bg-gray-50 text-sm leading-5 font-medium text-gray-900 text-left" colspan="4" scope="colgroup">Collaboration</th>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Support messages text & video</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Friend prize pot</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>

      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Yoopla team support</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Enterprise gamification</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>
      <tr>
        <th class="py-5 pl-6 pr-6 text-sm leading-5 font-normal text-gray-500 text-left" scope="row">Company branded app</th>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Basic</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: minus -->
          <svg class="h-5 w-5 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Not included in Essential</span>
        </td>
        <td class="py-5 px-6">
          <!-- Heroicon name: check -->
          <svg class="h-5 w-5 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
          <span class="sr-only">Included in Premium</span>
        </td>
      </tr>


    </tbody>
    <tfoot>
      <tr class="border-t border-gray-200">
        <th class="sr-only" scope="row">Choose your plan</th>

        <td class="pt-5 px-6">
          <button type="button" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">
          Buy Basic</button>
        </td>

        <td class="pt-5 px-6">
          <button type="button" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">
          Buy Essential</button>
        </td>

        <td class="pt-5 px-6">
          <button type="button" class="w-full bg-gradient-to-r from-orange-500 to-pink-500 border border-transparent rounded-md shadow py-2 text-sm leading-5 font-semibold text-white hover:to-pink-600 focus:outline-none focus:shadow-outline-gray transition duration-150 ease-in-out">
          Buy Premium</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
