<div class="max-w-screen-xl mx-auto py-16 px-4 sm:py-16 sm:px-6 lg:px-8">
  <h2 class="text-3xl leading-9 font-extrabold text-white text-center">
    Frequently asked questions
  </h2>
  <div class="mt-12">
    <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-1 lg:grid-cols-3">
      <div class="space-y-2">
        <dt class="text-lg leading-6 font-medium text-white">
          How do I start Phil ?
        </dt>
        <dd class="text-base leading-6 text-gray-500">
          Check if the battery is full thanks to the led. Then charge phil with your cigarettes daily recharge corresponding to your programm day. That's it ! Phil will automaticelly open when you are "allowed" to smoke.
        </dd>
      </div>
      <div class="space-y-2">
        <dt class="text-lg leading-6 font-medium text-white">
          Phil is close and I really need a cigarette?
        </dt>
        <dd class="text-base leading-6 text-gray-500">
          Don't worry we are formers smokers and thought of that situation. If you open the app there is an unlock option on the main page of your daily programm. Press it and it will unlock Phil. magic 🧙‍♂️
        </dd>
      </div>
      <div class="space-y-2">
        <dt class="text-lg leading-6 font-medium text-white">
          I finished my program and want to unlock my friends prizepool ?
        </dt>
        <dd class="text-base leading-6 text-gray-500">
          Congratulations for finishing the program 🥳 You have to wait 30 days after the program end without smoking to unlock the prizepool. Then you will have on your app dashboard a button to take your prizepool. After your friends confirmation it will be automaticelly transfered.
        </dd>
      </div>
      <div class="space-y-2">
        <dt class="text-lg leading-6 font-medium text-white">
          I have a basic plan and scared to crack ?
        </dt>
        <dd class="text-base leading-6 text-gray-500">
          Courage we know it's hard, connect yourself with your buddies.  If you feel you may crack too often and need more guidance, you really should upgrade your plan to have phil in your pocket. If you want to stay with your basic plan. 💪 We suggest to go to the tabac the day before you launch the program. Buy as much cigarettes that you will need. The app will tell you the exact number and guide you. Then ask to a member of your family to fill your packet the morning with the right amount of cigarettes for the day. It is a neardy tip to replace Phil 🤓
        </dd>
      </div>
      <div class="space-y-2">
        <dt class="text-lg leading-6 font-medium text-white">
          I want to help my employees with yoopla how does it work?
        </dt>
        <dd class="text-base leading-6 text-gray-500">
          First thank you! Secondly, congratulations for taking care of your employee. You can click on the contact button to talk to a customer care agent. They will explain everything to you.
        </dd>
      </div>
      <div class="space-y-2">
        <dt class="text-lg leading-6 font-medium text-white">
          Do you have medical support ?
        </dt>
        <dd class="text-base leading-6 text-gray-500">
          All the app features have been developped with doctors and tabacologists. They all approove the method. Before you buy a plan we check if the method is adapted to you or not. If not, you have the ability to contact one of our tabacologist to get help.
        </dd>
      </div>
    </dl>
  </div>
</div>
