<div class="circle blue bg-purblue-500">
  <div class="circle white-one">
    <div class="circle red">
      <div class="circle white-two">
        <div class="circle green">
          <div class="circle white-three">
            <div class="hider">
                <div class="marker-start-blue bg-purblue-500 ">
                </div>
                <div class="marker-start-red ">
                </div>
                <div class="marker-start-green ">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

