<!--
  Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
  Read the documentation to get started: https://tailwindui.com/documentation
-->
<div class="py-4 bg-purblue-500">
  <div class="max-w-xl mx-auto px-4 sm:px-6 lg:max-w-screen-xl lg:px-8">
    <h3 class="text-center text-white mb-4">SUPPORTED AND DEVELOPPED WITH TABACOLOGISTS</h3>
    <div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:auto-rows-max">
      <div>
        <div class="flex items-center justify-center">
          <div class="h-16 w-16">
            <img class="inline-block h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
          </div>
          <div class="ml-6">
            <h6 class="text-white">Dr John Mcain</h6>
            <p class="text-xs text-gray-300">Tabocologist Kentucky</p>
            <div class="flex space-x-2 mt-1">
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <p class="mt-2 text-base text-center leading-6 text-gray-200">
            Yoopla 's program is really amazing to really help smokers to quite with an amzazing success rate.
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="flex items-center justify-center">
          <div class="h-16 w-16">
            <img class="inline-block h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
          </div>
          <div class="ml-6">
            <h6 class="text-white">Dr David Goodsmile</h6>
            <p class="text-xs text-gray-300">Tabocologist Australia</p>
            <div class="flex space-x-2 mt-1">
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <p class="mt-2 text-base text-center leading-6 text-gray-200">
            The program is perfectly suited to those who already tried and fail to quite. I recommend it strongly.
          </p>
        </div>
      </div>
      <div class="mt-10 lg:mt-0">
        <div class="flex items-center justify-center">
          <div class="h-16 w-16">
            <img class="inline-block h-16 w-16 rounded-full" src="https://images.unsplash.com/photo-1603471567567-8e2c7517b908?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80" alt="">
          </div>
          <div class="ml-6">
            <h6 class="text-white">Dr Jeanne Palairsympa</h6>
            <p class="text-xs text-gray-300">Tabocologist Paris</p>
            <div class="flex space-x-2 mt-1">
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
              <svg class="h-4 w-4"version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="fill:white" xml:space="preserve"><g><polygon points="512,197.816 325.961,185.585 255.898,9.569 185.835,185.585 0,197.816 142.534,318.842 95.762,502.431 255.898,401.21 416.035,502.431 369.263,318.842    "/></g>
              </svg>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <p class="mt-2 text-base text-center leading-6 text-gray-200">
            Finaly an efficient technology to really help smokers; I recommend yoopla and phil to my patients.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
