// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.feature-image {
  height: 32em;
}
.gauge {
  left: 50%;
}
.gauge-circle {
  border-radius: 50%;
  transform: translate(-0.65em);
}
