// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.feature-image {
  height: 24em;
  transition: transform .2s;
}
.feature-image:hover {
  transform: scale(1.5);
}
.gauge {
  left: 50%;
  height: 122em;
}
.gauge-circle {
  border-radius: 50%;
  transform: translate(-0.65em);
}
.gauge-wrapper {
  transform: translateY(12em);
}
